body {
	background-color: #b8ffb8;
	font-family: 'Asap', sans-serif;
}

.menu {
	background-color: #ffb8b8;
	color: #a62929;
	box-shadow: 0 1px 3px 0 rgba(255, 125, 125, 0.12), 0 1px 2px 0 rgba(255, 125, 125, 0.24);
	border-radius: 3px;
}

.menu_item:hover {
	background-color: #7dff7d;
	color: #29a629;
}

.menu_list {
	display: flex;  
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
	list-style: none;
}

.menu_item {
	flex-grow: 1;
	padding: 5px;
}

.sub_menu {
	display: none;
	position: absolute;
	border-radius: 5px;
	background-color: #9eff9e;
	z-index: 1;
	list-style: none;
	margin: 0.5px;
	padding: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	box-shadow: 0 2px 3px 0 rgba(41, 166, 41, 0.12), 0 2px 3px 0 rgba(41, 166, 41, 0.24)
}

.sub_menu_item {
	color: #294a29;
	padding: 3px 3px;
	border-radius: 3px;
	text-decoration: none;
	display: flex;
}

.sub_menu_item:hover {
	background-color: #b8ffb8;
	color: rgba(41, 74, 41, 0.75);
}

.menu_item:hover .sub_menu {
	display: block;
}