body {
  background-color: #b8ffb8;
  font-family: 'Asap', sans-serif;
}
#login_form {
  overflow: hidden;
  background-color: white;
  padding: 10px 20px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 3px 3px 3px #ff7d7d;
}
#login_form::before, #login_form::after {
  content: '';
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
#login_form::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(255, 184, 184, 0.15);
  animation: waves 6s infinite linear;
}
#login_form::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(255, 125, 125, 0.2);
  animation: waves 7s infinite;
}
input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  color: #142114;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #26a929;
  font-size: 16px;
  text-transform: uppercase;
  width: auto;
  border: 0;
  padding: 8px 5px 8px 5px;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #b8ffb8;
}
button:hover {
  background-color: #7dff7d;
}
#login_error {
  color: #a62929;
  width: 100%;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: -15px;
}
@keyframes waves {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
