/*
Colors:
  base: #d30068, complement
  background: #c2f56e light light green
  focus button: #aff53d light green
  font button: #5f9900 dark dark green
  shadow1/wave2: #e93a90 light red
  wave1: #e969a8 ligh light red
  error: #890043 dark dark red
*/
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

body {
  background-color: #c2f56e;
  font-family: 'Asap', sans-serif;
}
#login_form, section {
  overflow: hidden;
  background-color: white;
  padding: 10px 20px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 3px 3px 3px #e93a90;
}
section {
  text-align: center;
  width: 30%;
}
#login_form::before, #login_form::after {
  content: '';
  position: absolute;
  width: 50rem;
  height: 50rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
#login_form::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(233, 58, 144, 0.15);
  animation: waves 6s infinite linear;
}
#login_form::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(233, 105, 168, 0.2);
  animation: waves 7s infinite;
}
input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  color: #142114;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #5f9900;
  font-size: 16px;
  text-transform: uppercase;
  width: auto;
  border: 0;
  padding: 8px 5px 8px 5px;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #c2f56e;
}
button:hover {
  background-color: #aff53d;
}
#login_error {
  color: #890043;
  width: 100%;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: -15px;
}
@keyframes waves {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
section > h1 {
  font-family: 'Asap', sans-serif;
  font-size: 28px;
  color: #142114;
  padding: 10px 10px;
}
a {
  text-decoration: none;
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #5f9900;
  font-size: 16px;
  text-transform: uppercase;
  width: auto;
  border: 0;
  padding: 8px 5px 8px 5px;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #c2f56e;
}
